## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [3]:
import pandas as pd

In [4]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [59]:
# value_counts() counts the number of unique values in the 'sex' column of the dataset.
gender_counts = data['sex'].value_counts()
print(gender_counts)

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [60]:
# mean() This method calculates the average age and returns its result.
# using str.lower() avoid register mistakes
average_age_male = data[data['sex'].str.lower() == 'male']['age'].mean()
print(round(average_age_male,0))  # rounded for better perception of age data

39.0

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [61]:
# First, we create a subset of us_citizens containing only rows where the value of the 'native-country' column 
# is 'United-States' (United States). We then calculate the proportion of United States citizens by dividing the number of rows 
# in the us_citizens subset by the total number of rows in the original dataset data.

us_citizens = data[data['native-country'].str.lower() == 'united-states']
us_citizens_ratio = len(us_citizens) / len(data)
print(us_citizens_ratio)

0.895857006848684

In [14]:
# var2 
# mean() method returns the mean value
us_citizens_ratio = (data['native-country'].str.lower() == 'united-states').mean()
print(round(us_citizens_ratio,2))

0.9

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [62]:

# Group earning more than 50K per year
high_income_age = data[data['salary'] == '>50K']['age']
high_income_mean = high_income_age.mean()
high_income_std = high_income_age.std()

# Group earning less or equal than 50K per year
low_income_age = data[data['salary'] == '<=50K']['age']
low_income_mean = low_income_age.mean()
low_income_std = low_income_age.std()

print("Average age of people earning more than 50K per year:", round(high_income_mean))
print("Standard deviation of the age of people earning more than 50K per year:", round(high_income_std,1))
print("Average age of people earning less than or equal to 50K a year:", round(low_income_mean))
print("Standard deviation of age of people earning less than or equal to 50K per year:", round(low_income_std,1))

Average age of people earning more than 50K per year: 44
Standard deviation of the age of people earning more than 50K per year: 10.5
Average age of people earning less than or equal to 50K a year: 37
Standard deviation of age of people earning less than or equal to 50K per year: 14.0

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [63]:
# we do the validation using the .isin() method. The .all() method returns True if all values satisfy the condition.
high_income_education = data[data['salary'] == '>50K']['education']
has_high_education = high_income_education.isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 
                                                 'Masters', 'Doctorate']).all()

if has_high_education:
    print("That's right, people with earnings over 50K have at least a college degree.")
else:
    print("False, not all people earning more than 50K have at least a college degree.")

False, not all people earning more than 50K have at least a college degree.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [64]:
# groupby() - The groupby() function is a method of the DataFrame object in the Pandas library. 
# It is used to group data by one or more columns. 
# The main use of the groupby() function is to divide data into groups based on certain criteria 
# and apply aggregation operations to those groups.

# describe() - The describe() function is also a method of the DataFrame object in the Pandas library. 
# It is used to calculate statistical metrics about numerical data such as mean, standard deviation, minimum and maximum values, 
# quartiles, and others. The describe() function returns a summary of the statistics for each numeric column in the DataFrame.

# .loc[] is an indexer in Pandas that allows you to access specific elements, rows or columns in a DataFrame or Series 
# by their labels or indexing conditions. In this case, we're using .loc[] 
# to access a specific Asian-Pac-Islander male maximum age, using a combination of race and gender as an index.

# Grouping data by race and gender, and calculating age statistics
age_stats = data.groupby(['race', 'sex'])['age'].describe()

# Displaying age statistics for each race and each gender
print(age_stats)

# Finding the maximum age of Asian-Pac-Islander men
max_age_asian_male = age_stats.loc[('Asian-Pac-Islander', 'Male'), 'max']
print("The maximum age for Asian-Pac-Islander men:", max_age_asian_male)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
The maximum age for Asian-Pac-Islander men: 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [8]:
# Filtering data for married and single men
married_men = data[data['marital-status'].str.lower().str.startswith('married')]
unmarried_men = data[~data['marital-status'].str.lower().str.startswith('married')]

# We consider the share of earning more than 50K among married and single men
married_men_high_income_ratio = (married_men['salary'] == '>50K').mean()
unmarried_men_high_income_ratio = (unmarried_men['salary'] == '>50K').mean()

# results:   "{:.2f}", "f" indicates the floating point format, and ".2" means to output two decimal places.
print(f"Share of married men earning more than 50K: {round(married_men_high_income_ratio * 100)} %")
print(f"Share of single men earning more than 50K: {round(unmarried_men_high_income_ratio * 100)} %")

Share of married men earning more than 50K: 44 %
Share of single men earning more than 50K: 6 %

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [9]:
# .shape[0] is an attribute in the Pandas DataFrame object that returns the number of rows in the DataFrame.

# Find the maximum number of hours worked per week
max_hours = data['hours-per-week'].max() 

# Get the number of people working the maximum number of hours
num_people_max_hours = data[data['hours-per-week'] == max_hours].shape[0]

# Get the percentage earning a lot (>50K) among people working the maximum number of hours
rich_percentage_max_hours = (data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0] / 
                             num_people_max_hours) * 100

# results:
print("Maximum work hours per week:", max_hours)
print("Number of people working this many hours:", num_people_max_hours)
print(f"Rich earning percentage among them: {round(rich_percentage_max_hours)}%")

Maximum work hours per week: 99
Number of people working this many hours: 85
Rich earning percentage among them: 29%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [67]:
# Grouping data by 'native-country' and 'salary' and calculating the average 'hours-per-week'
mean_hours_per_week = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
mean_hours_per_week = mean_hours_per_week.reset_index()
mean_hours_per_week['native-country'] = mean_hours_per_week['native-country'].replace('?', 'Unknown')

# results:
print(mean_hours_per_week)

# I checked the results , somewhere there were no country names, so I changed them to unknown instead of "?"

   native-country salary  hours-per-week
0         Unknown  <=50K       40.164760
1         Unknown   >50K       45.547945
2        Cambodia  <=50K       41.416667
3        Cambodia   >50K       40.000000
4          Canada  <=50K       37.914634
..            ...    ...             ...
77  United-States   >50K       45.505369
78        Vietnam  <=50K       37.193548
79        Vietnam   >50K       39.200000
80     Yugoslavia  <=50K       41.600000
81     Yugoslavia   >50K       49.500000

[82 rows x 3 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [68]:
# Defining a Function to Determine an Age Group
def get_age_group(age):
    if age >= 16 and age <= 35:
        return 'young'
    elif age > 35 and age <= 70:
        return 'adult'
    elif age > 70 and age <= 100:
        return 'retiree'
    else:
        return 'unknown'

# Applying a function to the 'age' column and creating a new 'AgeGroup' column
# The .apply() method in Pandas is used to apply a function to one or more columns or rows in a DataFrame
data['AgeGroup'] = data['age'].apply(get_age_group)

# results:
print(data[['age', 'AgeGroup']])

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32561 rows x 2 columns]

In [4]:
# var2
# Specifying intervals for grouping
age_bins = [16, 35, 70, 100]
age_labels = ['young', 'adult', 'retiree']

# Adding a new 'AgeGroup' column with pd.cut
data['AgeGroup'] = pd.cut(data['age'], bins=age_bins, labels=age_labels, right=False, include_lowest=True)

# result:
print(data[['age', 'AgeGroup']])

# The pd.cut function: pd.cut is a function from the Pandas library that allows you to split values into intervals 
# and assign labels to these intervals. Its syntax looks like this:

# pd.cut(x, bins, labels=None, right=True, include_lowest=False)

# x: A column or array of numeric values to be divided into intervals.
# bins: A list of numbers that defines the bounds of the bins.
# labels (optional): A list of labels to be assigned to each interval. If not specified, numeric labels will be used.
# right (optional): Specifies whether the right bounds of the intervals are inclusive or exclusive. 
# The default is True, which means the right margins are enabled.
# include_lowest (optional): Determines if the lowest interval is inclusive. The default is False.

       age AgeGroup
0       39    adult
1       50    adult
2       38    adult
3       53    adult
4       28    young
...    ...      ...
32556   27    young
32557   40    adult
32558   58    adult
32559   22    young
32560   52    adult

[32561 rows x 2 columns]

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [77]:
# idxmax() is a Pandas method that returns the index (name) of the element with the maximum value 
# in a data series or DataFrame column. In the context of the previous code, grouped.idxmax() is used to determine 
# the age group in which the number of people earning more than 50K is the maximum.
# .groupby('AgeGroup').size() is an operation to group and count the number of elements in each group. In this case, 
# we group the data by the 'AgeGroup' column using the groupby() method, and then use the size() method to count the number 
# of elements (records) in each group. The result will be a series of data where the indices are the values from the 'AgeGroup'
# column and the values are the number of elements in each group.

# Grouping by age group and counting the number of earners >50K
grouped = data[data['salary'] == '>50K'].groupby('AgeGroup').size()

# Determination of the age group in which more often earn >50K
max_group = grouped.idxmax()

# Display results
print("Number of earners >50K in each age group:")
print(grouped)
print("The name of the age group in which more often earn >50K:")
print(max_group)

Number of earners >50K in each age group:
AgeGroup
adult      6042
retiree      94
young      1705
dtype: int64
The name of the age group in which more often earn >50K:
adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [92]:
# Grouping by type of employment and counting the number of people in each group
occupation_counts = data['occupation'].value_counts()

def filter_func(group):
     avg_age = group['age'].mean()
     min_hours_per_week = group['hours-per-week'].min()
     return avg_age <= 40 and min_hours_per_week > 5

# Filtering groups by specified conditions
filtered_groups = data.groupby('occupation').filter(filter_func)

# Grouping filtered data and counting the number of people in each group
filtered_occupation_counts = filtered_groups['occupation'].value_counts()

# Display results
print("Initial results:")
print(occupation_counts)
print()
print("Filtered results:")
print(filtered_occupation_counts)

Initial results:
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

Filtered results:
occupation
Armed-Forces    9
Name: count, dtype: int64